/* reset */
$max-width: 1600px;
$base-bg: #FFF;
$base-color: #565e70;
$base-font-size: 14px;
$base-font-color: $base-color;
$base-line-height: 18px;
$base-font-family: 'Roboto', Arial, sans-serif;
$arial: Arial, sans-serif;
$ico: 'icomoon', Arial, sans-serif;
$link-color: $base-color;
$link-hover-color: #aa4141;
$default-transition: all 0.2s linear;
$border-color: #9d9d9d;

/* main variables */

//text, titles
$text-color: $base-color;
$title-color: $base-color;
$hover-color: #d6642c;
$footer-text-color: #c2ced7;
$orange: #d6642c;