<aside class="category__left_block aside">
	<ul class="aside__categories_list">
		<li class="aside__categories_item is_not_empty js_categories_sublist_toggler">
			<a href="#" class="aside__categories_link">Urządzenia do mikrodermabrazji</a>
			<ul class="aside__categories_sublist js_categories_sublist_">
				<li class="aside__categories_subitem">
					<a href="#" class="aside__categories_sublink">i9f 87fd7809sdy87f sdy</a>
				</li>
				<li class="aside__categories_subitem">
					<a href="#" class="aside__categories_sublink">i9f 87fd7809sdy87f sdy</a>
				</li>
				<li class="aside__categories_subitem">
					<a href="#" class="aside__categories_sublink">i9f 87fd7809sdy87f sdy</a>
				</li>
			</ul>
		</li>
		<li class="aside__categories_item">
			<a href="#" class="aside__categories_link">Urządzenie do elektrokoagulacji</a>
		</li>
		<li class="aside__categories_item is_not_empty js_categories_sublist_toggler">
			<a href="#" class="aside__categories_link">Urządzenia do mikrodermabrazji</a>
			<ul class="aside__categories_sublist js_categories_sublist_">
				<li class="aside__categories_subitem">
					<a href="#" class="aside__categories_sublink">i9f 87fd7809sdy87f sdy</a>
				</li>
				<li class="aside__categories_subitem">
					<a href="#" class="aside__categories_sublink">i9f 87fd7809sdy87f sdy</a>
				</li>
				<li class="aside__categories_subitem">
					<a href="#" class="aside__categories_sublink">i9f 87fd7809sdy87f sdy</a>
				</li>
			</ul>
		</li>
		<li class="aside__categories_item">
			<a href="#" class="aside__categories_link">Wyposażenie mobilnego salonu kosmetycznego</a>
		</li>
		<li class="aside__categories_item">
			<a href="#" class="aside__categories_link">Peeling kawitacyjny z sonoforezą</a>
		</li>
	</ul>
	<!--#insert file="-filters.html" -->
</aside>