<div class="full_size_menu__left js_full_size_menu__left">
	<div class="full_size_menu__list_block">
		<a href="#" class="full_size_menu__title">Urządzenie do pielęgnacji twarzy</a>
		<!--#insert file="-full_size_menu-list.html" -->
	</div>
	<div class="full_size_menu__list_block">
		<a href="#" class="full_size_menu__title">Lampa lupa</a>
		<!--#insert file="-full_size_menu-list.html" -->
	</div>
	<div class="full_size_menu__list_block">
		<a href="#" class="full_size_menu__title">Urządzenie do pielęgnacji ciała</a>
		<!--#insert file="-full_size_menu-list.html" -->
	</div>
	<div class="full_size_menu__list_block">
		<a href="#" class="full_size_menu__title">Urządzenia kosmetyczne domowe</a>
		<!--#insert file="-full_size_menu-list.html" -->
	</div>
	<div class="full_size_menu__list_block">
		<a href="#" class="full_size_menu__title">Depilacja</a>
		<!--#insert file="-full_size_menu-list.html" -->
	</div>
	<div class="full_size_menu__list_block">
		<a href="#" class="full_size_menu__title">Laser kosmetyczny</a>
		<!--#insert file="-full_size_menu-list.html" -->
	</div>
	<div class="full_size_menu__list_block">
		<a href="#" class="full_size_menu__title">Urządzenia do dezynfekcji</a>
		<!--#insert file="-full_size_menu-list.html" -->
	</div>
	<div class="full_size_menu__list_block">
		<a href="#" class="full_size_menu__title">Kosmetyki do gabinetu kosmetycznego</a>
		<!--#insert file="-full_size_menu-list.html" -->
	</div>
	</div>