<div class="full_size_menu__right js_full_size_menu__right">
	<div class="full_size_menu__slider js_full_size_menu__slider">
		<div class="full_size_menu__slider_item">
			<a href="#" class="full_size_menu__slider_link">
				<div class="full_size_menu__slider_img"><img src="img/full-size-menu-slide.jpg" alt=""></div>
			</a>
			<a href="#" class="full_size_menu__slider_view_button">Więcej</a>
		</div>
		<div class="full_size_menu__slider_item">
			<a href="#" class="full_size_menu__slider_link">
				<div class="full_size_menu__slider_img"><img src="img/full-size-menu-slide.jpg" alt=""></div>
			</a>
			<a href="#" class="full_size_menu__slider_view_button">Więcej</a>
		</div>
		<div class="full_size_menu__slider_item">
			<a href="#" class="full_size_menu__slider_link">
				<div class="full_size_menu__slider_img"><img src="img/full-size-menu-slide.jpg" alt=""></div>
			</a>
			<a href="#" class="full_size_menu__slider_view_button">Więcej</a>
		</div>
		<div class="full_size_menu__slider_item">
			<a href="#" class="full_size_menu__slider_link">
				<div class="full_size_menu__slider_img"><img src="img/full-size-menu-slide.jpg" alt=""></div>
			</a>
			<a href="#" class="full_size_menu__slider_view_button">Więcej</a>
		</div>
		<div class="full_size_menu__slider_item">
			<a href="#" class="full_size_menu__slider_link">
				<div class="full_size_menu__slider_img"><img src="img/full-size-menu-slide.jpg" alt=""></div>
			</a>
			<a href="#" class="full_size_menu__slider_view_button">Więcej</a>
		</div>
	</div>
</div>