<ul class="full_size_menu__list">
	<li class="full_size_menu__item">
		<a href="#" class="full_size_menu__link">Lipolaser</a>
	</li>
	<li class="full_size_menu__item">
		<a href="#" class="full_size_menu__link">Aparat do masażu limfatycznego</a>
	</li>
	<li class="full_size_menu__item">
		<a href="#" class="full_size_menu__link">Koc elektryczny kosmetyczny</a>
	</li>
	<li class="full_size_menu__item">
		<a href="#" class="full_size_menu__link">Masażer podciśnieniowy</a>
	</li>
	<li class="full_size_menu__item">
		<a href="#" class="full_size_menu__link">Urządzenie do elektrostymulacji</a>
	</li>
	<li class="full_size_menu__item">
		<a href="#" class="full_size_menu__link">Urządzenie do liposukcji ultradźwiękowej</a>
	</li>
</ul>