<nav class="top_menu">
	<ul class="top_menu__list">
		<li class="top_menu__item">
			<a href="#" class="top_menu__link">O nas</a>
		</li>
		<li class="top_menu__item">
			<a href="#" class="top_menu__link">Polityka prywatności</a>
		</li>
		<li class="top_menu__item">
			<a href="#" class="top_menu__link">Dostawa i Płatności</a>
		</li>
		<li class="top_menu__item">
			<a href="#" class="top_menu__link">Polityka</a>
		</li>
		<li class="top_menu__item">
			<a href="#" class="top_menu__link">Gwarancja i zwrot towaru</a>
		</li>
		<li class="top_menu__item">
			<a href="#" class="top_menu__link">Usługi</a>
		</li>
		<li class="top_menu__item">
			<a href="#" class="top_menu__link">Leasing</a>
		</li>
		<li class="top_menu__item">
			<a href="#" class="top_menu__link">Hurtownia kosmetyczna</a>
		</li>
	</ul>
</nav>