<div class="main_menu">
	<div class="container">
		<ul class="main_menu__list">
			<li class="main_menu__item js_main_menu__item">
				<a href="#" class="main_menu__link"><img class="main_menu__icon" src="img/hair-dryer.svg" alt="">Sprzęt kosmetyczny</a>
				<!--#insert file="-full-size-menu.html" -->
			</li>
			<li class="main_menu__item js_main_menu__item">
				<a href="#" class="main_menu__link"><img class="main_menu__icon" src="img/hair-dryer.svg" alt="">Manicure i pedicure</a>
				<!--#insert file="-full-size-menu.html" -->
			</li>
			<li class="main_menu__item js_main_menu__item">
				<a href="#" class="main_menu__link"><img class="main_menu__icon" src="img/hair-dryer.svg" alt="">Wyposażenie gabinetu kosmetycznego</a>
				<!--#insert file="-full-size-menu.html" -->
			</li>
			<li class="main_menu__item js_main_menu__item">
				<a href="#" class="main_menu__link"><img class="main_menu__icon" src="img/hair-dryer.svg" alt="">Kosmetyki</a>
				<!--#insert file="-full-size-menu.html" -->
			</li>
			<li class="main_menu__item js_main_menu__item">
				<a href="#" class="main_menu__link"><img class="main_menu__icon" src="img/hair-dryer.svg" alt="">Wyposażenie fryzjerskie </a>
				<!--#insert file="-full-size-menu.html" -->
			</li>
			<li class="main_menu__item js_main_menu__item">
				<a href="#" class="main_menu__link"><img class="main_menu__icon" src="img/hair-dryer.svg" alt="">Sterylizacja</a>
				<!--#insert file="-full-size-menu.html" -->
			</li>
		</ul>
		<span class="main_menu__list_mob_button js_main_menu__list_mob_button">Menu</span>
		<ul class="main_menu__list_mob js_main_menu__list_mob">
			<li class="main_menu__item">
				<a href="#" class="main_menu__link js_main_menu__link_mob"><img class="main_menu__icon" src="img/hair-dryer.svg" alt="">Sprzęt kosmetyczny</a>
				<ul class="full_size_menu__list_mob js_full_size_menu__list_mob">
					<li class="full_size_menu__item_mob">
						<a href="#" class="full_size_menu__link_mob">Urządzenie</a>
					</li>
					<li class="full_size_menu__item_mob">
						<a href="#" class="full_size_menu__link_mob">Lampa lupa</a>
					</li>
					<li class="full_size_menu__item_mob">
						<a href="#" class="full_size_menu__link_mob">Urządzenie do pielęgnacji ciała</a>
					</li>
					<li class="full_size_menu__item_mob">
						<a href="#" class="full_size_menu__link_mob">Urządzenia kosmetyczne domowe</a>
					</li>
				</ul>
			</li>
			<li class="main_menu__item">
				<a href="#" class="main_menu__link js_main_menu__link_mob"><img class="main_menu__icon" src="img/hair-dryer.svg" alt="">Manicure i pedicure</a>
				<ul class="full_size_menu__list_mob js_full_size_menu__list_mob">
					<li class="full_size_menu__item_mob">
						<a href="#" class="full_size_menu__link_mob">Urządzenie</a>
					</li>
					<li class="full_size_menu__item_mob">
						<a href="#" class="full_size_menu__link_mob">Lampa lupa</a>
					</li>
					<li class="full_size_menu__item_mob">
						<a href="#" class="full_size_menu__link_mob">Urządzenie do pielęgnacji ciała</a>
					</li>
					<li class="full_size_menu__item_mob">
						<a href="#" class="full_size_menu__link_mob">Urządzenia kosmetyczne domowe</a>
					</li>
				</ul>
			</li>
			<li class="main_menu__item">
				<a href="#" class="main_menu__link js_main_menu__link_mob"><img class="main_menu__icon" src="img/hair-dryer.svg" alt="">Wyposażenie gabinetu kosmetycznego</a>
				<ul class="full_size_menu__list_mob js_full_size_menu__list_mob">
					<li class="full_size_menu__item_mob">
						<a href="#" class="full_size_menu__link_mob">Urządzenie</a>
					</li>
					<li class="full_size_menu__item_mob">
						<a href="#" class="full_size_menu__link_mob">Lampa lupa</a>
					</li>
					<li class="full_size_menu__item_mob">
						<a href="#" class="full_size_menu__link_mob">Urządzenie do pielęgnacji ciała</a>
					</li>
					<li class="full_size_menu__item_mob">
						<a href="#" class="full_size_menu__link_mob">Urządzenia kosmetyczne domowe</a>
					</li>
				</ul>
			</li>
			<li class="main_menu__item">
				<a href="#" class="main_menu__link js_main_menu__link_mob"><img class="main_menu__icon" src="img/hair-dryer.svg" alt="">Kosmetyki</a>
				<ul class="full_size_menu__list_mob js_full_size_menu__list_mob">
					<li class="full_size_menu__item_mob">
						<a href="#" class="full_size_menu__link_mob">Urządzenie</a>
					</li>
					<li class="full_size_menu__item_mob">
						<a href="#" class="full_size_menu__link_mob">Lampa lupa</a>
					</li>
					<li class="full_size_menu__item_mob">
						<a href="#" class="full_size_menu__link_mob">Urządzenie do pielęgnacji ciała</a>
					</li>
					<li class="full_size_menu__item_mob">
						<a href="#" class="full_size_menu__link_mob">Urządzenia kosmetyczne domowe</a>
					</li>
				</ul>
			</li>
			<li class="main_menu__item">
				<a href="#" class="main_menu__link js_main_menu__link_mob"><img class="main_menu__icon" src="img/hair-dryer.svg" alt="">Wyposażenie fryzjerskie </a>
				<ul class="full_size_menu__list_mob js_full_size_menu__list_mob">
					<li class="full_size_menu__item_mob">
						<a href="#" class="full_size_menu__link_mob">Urządzenie</a>
					</li>
					<li class="full_size_menu__item_mob">
						<a href="#" class="full_size_menu__link_mob">Lampa lupa</a>
					</li>
					<li class="full_size_menu__item_mob">
						<a href="#" class="full_size_menu__link_mob">Urządzenie do pielęgnacji ciała</a>
					</li>
					<li class="full_size_menu__item_mob">
						<a href="#" class="full_size_menu__link_mob">Urządzenia kosmetyczne domowe</a>
					</li>
				</ul>
			</li>
			<li class="main_menu__item">
				<a href="#" class="main_menu__link js_main_menu__link_mob"><img class="main_menu__icon" src="img/hair-dryer.svg" alt="">Sterylizacja</a>
				<ul class="full_size_menu__list_mob js_full_size_menu__list_mob">
					<li class="full_size_menu__item_mob">
						<a href="#" class="full_size_menu__link_mob">Urządzenie</a>
					</li>
					<li class="full_size_menu__item_mob">
						<a href="#" class="full_size_menu__link_mob">Lampa lupa</a>
					</li>
					<li class="full_size_menu__item_mob">
						<a href="#" class="full_size_menu__link_mob">Urządzenie do pielęgnacji ciała</a>
					</li>
					<li class="full_size_menu__item_mob">
						<a href="#" class="full_size_menu__link_mob">Urządzenia kosmetyczne domowe</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>