<div class="products">
	<span class="products__title"><span>Towary kategorii Urządzenie do oczyszczania twarzy:</span></span>
	<div class="products__filters">
		<div class="products__filters_left">
			<!--#insert file="-products-filters-checkbox.html" -->
			<!--#insert file="-products-filters-checkbox.html" -->
		</div>
		<div class="products__filters_right">
			<!--#insert file="-products-filters-select.html" -->
			<!--#insert file="-products-filters-select.html" -->
		</div>
	</div>
	<div class="products__list">
		<!--#insert file="-product.html" -->
		<!--#insert file="-product.html" -->
		<!--#insert file="-product.html" -->
		<!--#insert file="-product.html" -->
		<!--#insert file="-product.html" -->
		<!--#insert file="-product.html" -->
	</div>
</div>