<div class="products__item">
	<div class="products__item_wrapper">
		<div class="products__item_img">
			<img src="img/discount-img.jpg" alt="">
		</div>
		<a href="#" class="products__item_title">Żel Do Dezynfekcji Dłoni I Stóp Aniosgel 85npc 500ml Z Pompką</a>
		<div class="products__item_discount_block">
			<span class="products__item_discount_item">-12%</span>
			<span class="products__item_was_price">109 999, 05 zł</span>
		</div>
		<div class="products__item_price_block">
			<span class="products__item_price_text">Cena brutto:</span>
			<span class="products__item_actual_price">95 999,90 <span class="products__item_currency">zł</span></span>
		</div>
		<div class="products__item_bottom_line">
			<div class="products__item_count_block">
				<input type="text" class="products__item_count_number js_count" value="1">
				<span class="products__item_count_plus js_plus"></span>
				<span class="products__item_count_minus js_minus"></span>
			</div>
			<span class="products__item_bottom_line_item">Zobacz więcej</span>
		</div>
		<a href="#" class="products__item_buy_button">DODAJ DO KOSZYKA</a>
	</div>
</div>