<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/jquery-migrate-1.4.1.min.js" ></script>

<script type="text/javascript" src="js/components/jquery.fancybox.js" ></script>
<script type="text/javascript" src="js/components/jquery.inputmask.js" ></script>
<script type="text/javascript" src="js/components/jquery.formstyler.js" ></script>
<script type="text/javascript" src="js/components/slick.js" ></script>
<script type="text/javascript" src="js/components/jquery.mCustomScrollbar.js" ></script>

<script type="text/javascript" src="js/sliders.js"></script>
<script type="text/javascript" src="js/common.js"></script>