<div class="slider_products">
	<h4 class="slider_products__title"><span>Marki</span><a href="#">(Pokaż wszystko)</a></h4>

	<div class="slider_products__list js_slider_products">
		<!--#insert file="-product.html" -->
		<!--#insert file="-product.html" -->
		<!--#insert file="-product.html" -->
		<!--#insert file="-product.html" -->
		<!--#insert file="-product.html" -->
		<!--#insert file="-product.html" -->
		<!--#insert file="-product.html" -->
		<!--#insert file="-product.html" -->
	</div>
</div>