.filter_block {
	margin-top: 20px;
	border: 1px solid #d2dbe1;
	&__item {
		padding: 20px;
		border-bottom: 1px solid #d2dbe1;
		&:last-of-type {
			border-bottom: none;
		}
		&_selected {
			padding: 20px;
			border-bottom: 1px solid #d2dbe1;
			background-color: #f8fbff;
						transition: height .5s;
		}
	}
	&__reset_all {
		position: relative;
		display: block;
		margin-top: 15px;
		color: #c2ced7;
		font-size: 11px;
		padding-left: 20px;
		&:before,
		&:after {
			position: absolute;
			content: '';
			top: 0;
			bottom: 0;
			left: 0;
			width: 9px;
			height: 1px;
			margin: auto;
			background-color: #c2ced7;
		}
		&:before {
			transform: rotate(45deg);
		}
		&:after {
			transform: rotate(-45deg);
		}
		&:hover {
			text-decoration: underline;
		}
	}
	&__title {
		font-weight: 900;
		color: #354051;
		text-transform: uppercase;
	}
	&__list {
		margin-top: 15px;
		&_selected {
			margin-top: 15px;
		}
	}
	&__link {
		position: relative;
		display: flex;
		align-items: center;
		height: 15px;
		margin-top: 5px;
		padding-left: 25px;
		color: #354051;
		&:first-of-type {
			margin-top: 0;
		}
		&:before {
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			width: 15px;
			height: 15px;
			border: 1px solid #d0d9e0;
			border-radius: 2px;
		}
		&:hover {
			text-decoration: underline;
		}
		&_selected {
			position: relative;
			display: block;
			color: #354051;
			font-size: 13px;
			margin-top: 5px;
			padding-left: 25px;
			&:first-of-type {
				margin-top: 0;
			}
			&:before,
			&:after {
				position: absolute;
				content: '';
				top: 0;
				bottom: 0;
				left: 0;
				width: 13px;
				height: 1px;
				margin: auto;
				background-color: #c2ced7;
			}
			&:before {
				transform: rotate(45deg);
			}
			&:after {
				transform: rotate(-45deg);
			}
			&:hover {
				text-decoration: underline;
			}
		}
		&.is_active {
			&:before {
				border: none;
				background-image: url(../img/filter-checked-icon.svg);
			}
		}
	}
	&__expand {
		position: relative;
		display: inline-block;
		margin-top: 15px;
		padding-right: 15px;
		color: $base-color;
		&:before {
			position: absolute;
			content: '\e914';
			top: 0;
			bottom: 0;
			right: 0;
			width: 11px;
			height: 8px;
			margin: auto;
			font-family: $ico;
			font-size: 6px;
			color: $base-color;
		}
		&:hover {
			color: $orange;
			&:before {
				color: $orange;
			}
		}
	}
	&__slider_range {
		position: relative;
		min-height: 2px;
		margin-top: 25px;
		padding-left: 5px;
		padding-right: 5px;
		&:before,
		&:after {
			position: absolute;
			z-index: 1;
			content: '';
			top: 0;
			width: 5px;
			height: 2px;
			background-color: #d2dbe1;
		}
		&:before {
			left: 0;
		}
		&:after {
			right: 0;
		}
	}
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 20px;
		label {
			font-size: 13px;
			color: #354051;
			margin-right: 5px;
		}
		input[type=number] {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 55px;
			height: 36px;
			padding: 5px;
			border: 3px solid #f3f6f9;
			-moz-appearance:textfield;
			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
			}
		}
		.dash {
			font-size: 13px;
			color: #c2ced7;
			margin-right: 5px;
			margin-left: 5px;
		}
	}
	&__apply {
		display: inline-block;
		margin-top: 20px;
		color: $link-color;
		font-size: 13px;
		font-weight: 900;
		padding-bottom: 3px;
		text-transform: uppercase;
		border-bottom: 1px dashed $link-color;
		&:hover {
			color: $hover-color;
			border-color: $hover-color;
		}
	}
}

.ui-corner-all {
	border-radius: 0;
}

.ui-slider-horizontal {
	height: 2px;
}

.ui-widget-header {
	background-color: #354051;
}

.ui-widget.ui-widget-content {
	border: none;
	background-color: #d2dbe1;
}

.ui-slider .ui-slider-handle {
	top: 0;
	bottom: 0;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: none;
	margin-top: auto;
	margin-bottom: auto;
	background-color: #354051;
	cursor: pointer;
}

.ui-slider-horizontal .ui-slider-handle {
	margin-left: -.3em;
}